@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>


<p>This app is being submitted as part of MSA Module Two.<br />
   The application was built using the ASP.NET Core Framework.<br />
    Also using APIs from Google Maps, Open Weather and Facebook.<br />
    Happy Apping!<br />
    </p>
