@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    Microsoft Student Accelator Program<br />
    Wellington, New Zealand<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">alr888@yahpoo.com</a>
</address>
