@{
    ViewData["Title"] = "Google Maps with Open Weather";
}


<center>
    <h2>Google Maps with Open Weather API</h2>
     <div>
         <P id="id_time"></P>
     </div>
     <div>
        <P>
            Location : <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        </P>
    </div>
</center>


<div class="parent">
    <div id="map" class="child"></div>
</div>

<center>
    <img id="id_icon" src="http://openweathermap.org/img/w/01d.png" width="140" height="110" />
    <h3 id="id_name"></h3>
    <h3 id="id_temp"></h3>
    <h3 id="id_humidity"></h3>
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src='greeter.js'></script>


<script>
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -41.2901434, lng: 174.7739931 },
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');

        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.


        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            console.log(places);

            if (places.length == 0) {
                return;
            }

            var vcity = "http://api.openweathermap.org/data/2.5/weather?q=" + places[0].name + "&units=metric&APPID=5cadc79f79aad660048bd3ea664c1fbf";


            $.get(vcity, function (response) {
                //response
                //console.log(response);
                $("#id_icon").attr("src", "http://openweathermap.org/img/w/" + response.weather[0].icon + ".png");
                $("#id_name").text("City : " + response.name);
                $("#id_temp").text("Temp : " + response.main.temp);
                $("#id_humidity").text("Humidity : " + response.main.humidity);
            });

            // Clear out the old markers
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }

            });
            map.fitBounds(bounds);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9Ccp4nYfZFXzi5LeM5J6RFPKzn0hJiA8&v=3&libraries=places&callback=initAutocomplete">
</script>


<center>
        <div class="fb-comments" data-href="http://gmapwithopenweather.azurewebsites.net/" data-width="470" data-numposts="10"></div>
       </center>

<center>                
                                <div class="fb-like"
                                     data-share="true"
                                     data-width="450"
                                     data-show-faces="true">
                                </div>
</center>

  

<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=762269317254034";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '762269317254034',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
